.container {
   width: 500px;
   height: 500px;
   background: #2b2b2b;
   /* border: 1px solid green; */
}

.center {
   position: absolute;
   left: 50%;
   top: 50%;
}

#worm {
   position: absolute;
   /* border: 1px solid red; */
   /* height: 101.5px;
   width: 325.5px; */
}

#init-state {
   position: absolute;
   left: 100%;
   top: 50%;
}

/* .init-state {

} */

.animation-states {
   visibility: hidden;
   border: 1px solid green;
}
